<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>蘑菇街-我的买手街</title>
	<link rel="icon" href="<?= AI ?>mogu.ico">
	<link rel="stylesheet" href="<?= AC ?>buyShop.css">
	<link rel="stylesheet" href="<?= AC ?>footer.css">
	<link rel="stylesheet" href="<?= AC ?>header.css">
	<link rel="stylesheet" href="<?= AC ?>index.css">
	<link rel="stylesheet" href="<?= AC ?>login.css">
	<link rel="stylesheet" href="<?= AC ?>loginPhone.css">
	<link rel="stylesheet" href="<?= AC ?>person.css">
	<link rel="stylesheet" href="<?= AC ?>personMsg.css">
	<link rel="stylesheet" href="<?= AC ?>register.css">
	<link rel="stylesheet" href="<?= AC ?>rightShop.css">
	<link rel="stylesheet" href="<?= AC ?>shopDesc.css">
	<link rel="stylesheet" href="<?= AC ?>shopWin.css">
	<link rel="stylesheet" href="<?= AC ?>showShop.css">
	<link rel="stylesheet" href="<?= AC ?>total.css">
</head>
<body style="background-color: white;">
	
