
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Minimal and Clean Sign up / Login and Forgot Form by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	
  
  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/> 
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	
	<link rel="stylesheet" href="<?= AC ?>bootstrap.min.css">
	<link rel="stylesheet" href="<?= AC ?>animate.css">
	<link rel="stylesheet" href="<?= AC ?>style.css">

	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<!-- Start Sign In Form -->
					<form action="index.php?c=login&m=doLogin" class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
						<h2>登录</h2>
						<div class="form-group">
							<label for="username" class="sr-only">管理员名</label>
							<input type="text" class="form-control" id="username" placeholder="管理员名" autocomplete="off" name='name'>
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">密码</label>
							<input type="password" class="form-control" id="password" placeholder="密码" autocomplete="off" name="pwd">
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">验证码</label>
							<input type="text" class="form-control" id="password" placeholder="验证码" name="code" maxlength="4">
	                        <img src="index.php?c=login&m=code" alt="" onClick="this.src=this.src+'&i='+Math.random()"/>
						</div>

						<div class="form-group">
							<label for="remember"><input type="checkbox" id="remember" name="status" value=1> 请记住我 </label>
						</div>
						
						<div class="form-group">
							<input type="submit" value="登录" class="btn btn-primary">
						</div>
					</form>
					<!-- END Sign In Form -->

				</div>
			</div>
		</div>
	

	</body>
</html>

