/* 头部的样式 */
#headerheader{height: 35px; background:#f2f2f2; border-bottom: 1px solid #ddd; }

#headerheader a{display: block; margin-left: 10px;line-height: 32px; float: left; }
#headerheader .wrap ul{float: right;display: block;margin:0px;padding: 0px;list-style: none;line-height: 32px;}
#headerheader .wrap ul li{cursor: pointer; float: left; }
#headerheader .wrap{width: 1200px; margin-left: auto; margin-right: auto; } 
#headerheader .wrap .car:hover .info{display: block;}
#headerheader .wrap .info{width: 150px; height: 60px; background-color: #f2f2f2; margin-left: -90px; z-index: 1; display: none;position: absolute; }
#headerheader .wrap .user:hover .msg{display: block;}
#headerheader .wrap .user .msg{width: 80px; height: 60px; background-color: #f2f2f2; margin-left: -15px; z-index: 1; display: none;position: absolute; }
#headerheader .wrap .user .msg ul{display: block;margin-right: 0px;margin-left: 0px;}
#headerheader .wrap .user .msg ul li{width: 80px;}
#headerheader .wrap .user .msg ul li:hover{cursor: pointer;background-color: gray;}
#headerheader .wrap .store:hover .select{display: block;}
#headerheader .wrap .select{width: 80px; height: 130px; background-color: #f2f2f2; margin-left: -32px; z-index: 1; display: none;position: absolute; }
#headerheader .wrap .select ul{display: block;margin-right: 0px;margin-left: 0px;}
#headerheader .wrap .select ul li{width: 80px;}
#headerheader .wrap .select ul li:hover{cursor: pointer;background-color: gray;}
/* 首页的样式 */
/* banner的轮播图 */
#banner{height: 440px;background-color:#ffae3c; }
#banner .content{width: 1200px;margin-left: auto; margin-right: auto;background-color: red; }

#banner .banner_right{float: right;margin-right:20px;width: 905px;height: 440px;}
#banner .banner_left{float: left;width: 275px;background-color: rgba(0, 0, 0, 0.1); height: 440px;}
#banner .banner_left ul {float: left;padding-top: 5px;padding-left: 5px;}
#banner .banner_left ul li:hover{background-color: #fff;cursor: pointer;border-left: 5px solid red;}
#banner .banner_left ul li dl{width: 270px;height: 31px;padding-right:10px; }
#banner .banner_left ul li dl dt{float: left;padding-left: 25px;line-height: 31px;}
#banner .banner_left ul li dl dd{float: right;margin-right: 43px;line-height: 31px;}
#banner .banner_right .item{width: 500px;height: 30px;margin-top: -40px;margin-left: 195px; position: absolute;}
#banner .banner_right .item .list{width: 20px;height: 20px;border-radius: 100%;background-color: white;float: left;margin-left: 20px;}

/* show商品分类 */
#show{width:1200px;height: 402px;margin:0 auto;margin-top: 10px;margin-bottom: 30px; }
#show .show_title{height: 25px;margin-bottom: 10px;}
#show .show_title .show_block{display: inline-block; margin-right: 10px; margin-bottom: 2px; width: 7px; height: 22px; background: #FF484D; vertical-align: bottom;} 
#show .show_title h2{float: right;padding-right: 1109px;}
#show .show_title a{float: right;margin-top: -20px;}
#show .show_goods{height: 355px;margin-bottom: 10px;}
#show .show_goods ul li{float: left; display: block;position: relative;}
#show .show_goods ul li img{width: 182px;height: 364px;padding-right: 18px;}
#show .show_goods ul li img:hover{cursor: pointer;}
#show .show_disc{width:120px;height: 38px;border-radius: 20px;background-color: rgba(0, 0, 0, 0.7);position: absolute;bottom: 185px;left: 25px;}
#show .show_disc span{text-align: center;display: block;padding-top: 10px;color: #fff;}

