body{
	background-color: white;
}
#section4{font-size: 14px; width: 800px; height: 665px; margin-left: 0px; margin-top: 35px; /* position: relative; */ /* background-color: pink;  */position: relative; } 
/* 收货地址页面*/
#section4 table{width: 700px;height: 50px;}
#section4 td{width: 100px;height: 50px;}
#section4 tr th{width: 100px;height: 50px;}


#section4 .section_address{
	position: absolute;
	width: 750px;height:200px;
	/* background-color: blue; */
	left: 10px; 
	border: 1px solid #ccc;
}
#section4 .section_address tr{
	width: 750px;height: 50px;
	border-bottom: 1px dotted #ccc;
}


/* 全部订单 */
#section4 h2{
	display: block;
	height: 40px;line-height: 40px;
}
#section4 .section_order{
	position: absolute;
	width: 758px;height:200px;
	/* background-color: blue; */
	left: 10px; 
}
#section4 .section_order .goods .item {border:1px solid #b0b0b0; margin-bottom:15px;}
#section4 .section_order .goods .item .g_head{width:758px; height:90px; border-bottom:1px solid #CBCBCB; padding-bottom:15px;}
#section4 .section_order .goods .item .g_head .order_status{padding:25px 30px 1px; font-size:18px; color:#b0b0b0;}
#section4 .section_order .goods .item .g_head .order_info{padding:15px 30px 15px; float:left;}
#section4 .section_order .goods .item .g_head .order_info span{border-right:1px solid #CBCBCB; padding:15px 15px;}
#section4 .section_order .goods .item .g_head .order_info span:last-child{border-right:1px solid #fff;}
#section4 .section_order .goods .item .g_head .order_price{margin-right:25px; float:right;margin-top: -45px;}
#section4 .section_order .goods .item .g_head .order_price span{
	display: block;margin-top: -30px;
}
#section4 .section_order .goods .item .g_head .order_price .money{font:28px Microsoft Yahei;}
#section4 .section_order .goods .item .g_content{width:100%; overflow: auto; }
#section4 .section_order .goods .item .g_content .g_content_left{width:500px; line-height: 100px; padding-left: 50px; float:left;}
#section4 .section_order .goods .item .g_content .g_content_left .g_item{width:500px;height:100px;}
#section4 .section_order .goods .item .g_content .g_content_left .g_img{float: left;}
#section4 .section_order .goods .item .g_content .g_content_left .g_info{float: left; margin-left:40px;}
#section4 .section_order .goods .item .g_content .g_content_left .g_img img{vertical-align: middle;}
#section4 .section_order .goods .item .g_content .g_content_right{line-height: 100px; float:right; margin-right: 50px;}
#section4 .section_order .goods .item .g_content .g_content_right a{border:1px solid #8c8c8c; padding:5px 20px;}



/* 个人信息和修改页码的 */
#section4 .section_middle{
	position: absolute;
	width: 300px;
	height: 400px;
	/* background-color: blue; */
	top: 70px;
	left: 70px;
	/* vertical-align: middle; */
}
#section4 .section_middle tr{
	width: 30px;height: 50px;
}
#section4 .section_middle .input{
	width: 210px;height: 30px;
}
#section4 .section_middle .submit{
	width: 80px;height: 30px;
}
#section4 .section_middle .icon{
	width: 200px;height: 30px;
	border: 0;
}